// ==========================================================================
// Child theme variables
// ==========================================================================

// Fonts
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Open Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji";
$headings-font-family: "Montserrat", sans-serif;
$headings-font-weight: 300;

// Colors
$gray-darker: #232323;
$gray: #7a7a7a;
$gray-light: #f1f1f1;
$gray-lighter: #f6f6f6;
$brand-primary: #2fb5d2;
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;

// Header
$header-background: #000102;

// Search bar
$search-bar-background: $header-background;

// Buttons
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;

$input-border-color: rgba(0, 0, 0, 0.25);
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$warning: #ff9a52;
$warning-hover: #fde7bb;
$alert-warning-bg: rgba(255, 154, 82, 0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6c868e;
$btn-tertiary-hover: #bbcdd2;
$base-font-size: 1rem;
$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 1.375rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;
$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$text-muted: $gray;

// ==========================================================================
// Include required parts of Bootstrap
// ==========================================================================

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// ==========================================================================
// Custom
// ==========================================================================

@import "./partials/mixins";
@import "./partials/reboot";
@import "./partials/type";

// ==========================================================================
// Components
// ==========================================================================

@import "./components/header";
@import "./components/ps_contactinfo";
@import "./components/ps_searchbar";
@import "./components/ps_customersignin";
@import "./components/ps_shoppingcart";
@import "./components/ps_mainmenu";
@import "./components/wrapper";
@import "./components/homeslider";
