// ==========================================================================
// (SCSS) Mixins
// ==========================================================================

//
// Transition
// e.g. @include transition(0s, 0.2s, all, ease);
// ==========================================================================

@mixin transition($delay, $duration, $property, $timing-function) {
  transition-delay: $delay;
  transition-duration: $duration;
  transition-property: $property;
  transition-timing-function: $timing-function;
}
