.header {
  background-color: $header-background !important;
  box-shadow: 0 0 5px $header-background;
  left: 0;
  padding: 10px 0px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  @include media-breakpoint-up(xl) {
    padding: 15px 0px;
  }
  & + .wrapper {
    @include transition(0s, 0.2s, all, ease);
    padding-top: 5rem !important;
    @include media-breakpoint-up(xl) {
      padding-top: 7rem !important;
    }
    #index & {
      padding-top: 0 !important;
    }
  }
  &__banner {
  }

  &__nav {
    &-container {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &-1,
    &-2,
    &-logo {
      align-items: center;
      display: flex;
      flex: 1 0 calc(100% / 3);
    }

    &-1 {
      justify-content: flex-start;
    }

    &-2 {
      justify-content: flex-end;
    }

    &-logo {
      justify-content: center;
      flex: 0 0 auto;
      h1 {
        margin: 0;
      }
      a {
        @include transition(0s, 0.2s, all, ease);
        display: block;
        height: 32px;
        @include media-breakpoint-up(xl) {
          height: 56px;
        }
        .shrink & {
          @include media-breakpoint-up(xl) {
            height: 32px;
          }
        }
      }
      &-icon {
        display: block;
        max-height: 100%;
        width: auto;
      }
    }
  }

  &__top {
  }
}
