// ==========================================================================
// (SCSS) Section Home slider
// ==========================================================================

@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");

.home-slider {
  height: 480px;
  margin-bottom: 30px;
  position: relative;
  &::before {
    @keyframes spinner {
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
    @include transition(0s, 0.2s, all, ease);
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spinner;
    animation-timing-function: linear;
    border-bottom: 5px solid #d9d9d9;
    border-left: 5px solid $brand-primary;
    border-radius: 50%;
    border-right: 5px solid #d9d9d9;
    border-top: 5px solid $brand-primary;
    content: "";
    height: 50px;
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 50px;
  }
  &.active {
    height: auto;
    &::before {
      animation-play-state: paused;
      opacity: 0;
      visibility: hidden;
    }
  }
  .slick-list,
  .slick-track {
    height: 100%;
  }

  &__item {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .home-slider > & {
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      visibility: hidden;
    }
  }

  &__container {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    @include media-breakpoint-up(md) {
      justify-content: flex-start;
    }
  }

  &__caption {
    background-color: rgba($white, 0.6);
    margin-bottom: 50px;
    padding: 20px;
    @include media-breakpoint-up(md) {
      flex: 0 1 50%;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 1 40%;
    }
    h3,
    h4,
    h5,
    h6 {
      color: initial;
      font-size: 1.5rem;
      font-weight: 700;
      text-transform: lowercase;
    }
  }

  &__title {
    color: initial;
  }

  &__description {
    p,
    a {
      color: initial;
    }
  }

  &__btn {
    color: $white !important;
  }

  &__arrow {
    background-color: rgba($white, 0.2);
    border-radius: 50%;
    border-width: 0;
    display: none !important;
    height: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    z-index: 1;
    @include media-breakpoint-up(md) {
      display: inline-block !important;
    }
    &::before {
      content: "";
      height: 18px;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 18px;
    }
    &:hover {
      background-color: rgba($white, 0.6);
      &::before {
        border-color: $brand-primary;
      }
    }
    &_prev {
      left: 15px;
      &::before {
        border-left: 1px solid $black;
        border-top: 1px solid $black;
        left: 56%;
      }
    }
    &_next {
      right: 15px;
      &::before {
        border-bottom: 1px solid $black;
        border-right: 1px solid $black;
        left: 44%;
      }
    }
  }

  &__dots {
    align-items: center;
    bottom: 0;
    display: flex !important;
    justify-content: center;
    left: 0;
    margin-bottom: 15px;
    position: absolute;
    right: 0;
    > li {
      padding: 0 5px;
      > button {
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $brand-primary;
        height: 20px;
        outline-width: 0;
        text-indent: -9999px;
        width: 20px;
        &[aria-selected="true"] {
          background-color: $brand-primary;
        }
      }
    }
  }
}
