#header {
  .desktop-user-info {
    padding-left: 15px;
    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
    &__sign-in {
      color: $white;
      display: block;
      &:hover {
        color: $brand-primary;
      }
    }
    &__account {
      color: $brand-primary;
      span {
        font-size: 0.8rem;
      }
    }
    &__sign-out {
      color: $white;
    }
  }
}
