#header {
  .search-widget {
    min-width: auto;
    &__toggler {
      background-color: transparent;
      border-width: 0;
      color: #fff;
      cursor: pointer;
      padding: 0;
      &:hover {
        color: $brand-primary;
      }
      i {
        position: relative;
        z-index: -1;
      }
    }
    &__form {
      @include transition(0s, 0.2s, all, ease);
      align-items: center;
      background-color: rgba($search-bar-background, 0.9);
      bottom: 0;
      box-shadow: 0 0 5px $search-bar-background;
      display: flex;
      flex-direction: column;
      justify-content: center;
      left: 0;
      opacity: 0;
      padding: 15px;
      position: absolute;
      position: fixed;
      right: 0;
      top: 0;
      visibility: hidden;
      z-index: 1;
      &.active {
        opacity: 1;
        visibility: visible;
      }
    }
    &__input {
      border-width: 0;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      min-width: auto;
      padding: 15px;
    }
    &__button-search {
      background-color: $brand-primary;
      border-radius: 50px;
      border-width: 0;
      color: $white;
      cursor: pointer;
      height: 48px;
      margin-top: 2rem;
      position: static;
      width: 48px;
      i {
        color: $white !important;
        font-size: 2rem;
      }
    }
    &__button-close {
      background-color: transparent;
      border-radius: 50px;
      border-width: 0;
      color: $white;
      cursor: pointer;
      height: 48px;
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 48px;
      i {
        color: $white;
        font-size: 2rem;
        &:hover {
          color: $brand-primary;
        }
      }
    }
  }
}
