#header {
  .desktop-contact-link {
    padding-left: 15px;
    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
    a {
      color: $white;
      display: block;
      &:hover {
        color: $brand-primary;
      }
    }
  }
}
