.top-menu {
  @include transition(0s, 0.2s, all, ease);
  background-color: #f1f1f1;
  bottom: 0;
  left: 0;
  margin: 0;
  opacity: 0;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 52px;
  visibility: hidden;
  @include media-breakpoint-up(xl) {
    top: 86px;
  }
  .shrink & {
    @include media-breakpoint-up(xl) {
      top: 62px;
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  &__toggler {
    align-items: center;
    background-color: transparent;
    border-width: 0;
    color: $white;
    cursor: pointer;
    display: flex;
    padding: 0;
    &::before {
      content: "\e5d2";
      font-family: "Material Icons";
      font-size: 28px;
    }
    &.active::before {
      content: "\e5cd";
      font-family: "Material Icons";
    }
    &:hover,
    &.active {
      color: $brand-primary;
    }
    i,
    &-title {
      position: relative;
      z-index: -1;
    }
    i {
      font-size: 28px;
    }
    &-title {
      display: inline-block;
      font-family: "Montserrat", sans-serif;
      font-weight: 300;
      margin-left: 5px;
      text-transform: uppercase;
    }
  }
  &__main-items {
    padding: 30px 0;
    @include media-breakpoint-up(md) {
      align-items: stretch;
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      padding-top: 0;
    }
  }
  &__main-item {
    position: relative;
    @include media-breakpoint-up(md) {
      flex: 0 1 calc(100% / 3);
      margin-top: 30px;
      padding: 0 15px;
    }
    @include media-breakpoint-up(lg) {
      flex: 0 1 calc(100% / 4);
    }
    @include media-breakpoint-up(xl) {
      flex: 0 1 calc(100% / 5);
    }
  }
  &__sub-items {
    display: none;
    padding-left: 15px;
    @include media-breakpoint-up(md) {
      display: block !important;
    }
  }
  &__dropdown-item {
    align-items: center;
    display: flex !important;
    flex-direction: row-reverse;
    justify-content: left;
    padding: 10px 0 !important;
    &:focus {
      text-decoration: none;
    }
    .top-menu__main-item > & {
      text-transform: uppercase;
    }
    .top-menu__sub-item > & {
      font-size: 14px;
      padding: 5px 0 !important;
    }
  }
  &__sub-toggler {
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 50%;
    display: flex;
    font-family: "Material Icons";
    font-size: 18px;
    font-weight: 300;
    height: 30px;
    justify-content: center;
    margin-left: auto;
    width: 30px;
    @include media-breakpoint-up(md) {
      display: none;
    }
    &::before {
      content: "\e5cf";
    }
    &::after {
      display: none;
      content: "\e5ce";
    }
    &.active {
      background-color: $brand-primary;
      color: $white;
      &::before {
        display: none;
      }
      &::after {
        display: block;
      }
    }
  }
}
