#header {
  .desktop-cart {
    padding-left: 15px;
    position: relative;
    @include media-breakpoint-up(sm) {
      padding-left: 20px;
    }
    .active {
      a {
        color: $white;
        display: block;
        &:hover {
          color: $brand-primary;
        }
      }
      i {
        color: inherit;
      }
      .cart-products-count {
        background-color: $brand-danger;
        border-radius: 50%;
        color: $white;
        display: inline-block;
        font-size: 12px;
        height: 20px;
        line-height: 18px;
        position: absolute;
        right: -10px;
        text-align: center;
        top: -8px;
        width: 20px;
      }
    }
    i {
      color: $white;
    }
    .cart-products-count {
      display: none;
    }
  }
}
